.main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(71, 4, 71);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    color: white;
}